## 1. 싱글데이터 TR 요청

In [1]:
from pykiwoom.kiwoom import *
import time
import pandas as pd

kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)

In [2]:
df = kiwoom.block_request("opt10001",
                          종목코드="005930",
                          output="주식기본정보",
                          next=0)

In [3]:
df

,종목코드,종목명,결산월,액면가,자본금,상장주식,신용비율,연중최고,연중최저,시가총액,...,250최저가대비율,현재가,대비기호,전일대비,등락율,거래량,거래대비,액면가단위,유통주식,유통비율
0,005930,삼성전자,12,100,7780,5969783,+0.15,+79800,-55700,3665446,...,+10.23,-61400,5,-500,-0.81,15093120,+140.46,원,4500942,75.4

In [4]:
# 멀티데이터 TR
df = kiwoom.block_request("opt10081",
                          종목코드="005930",
                          기준일자="20200424",
                          수정주가구분=1,
                          output="주식일봉차트조회",
                          next=0)

In [5]:
df.head()

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,005930,49350,15618347,771212,20200424,49650,49750,49000,,,,,,,
1,,49850,18754442,936174,20200423,50200,50300,49500,,,,,,,
2,,49850,18613864,912223,20200422,48700,50000,48350,,,,,,,
3,,49250,27407543,1347415,20200421,49400,49700,48700,,,,,,,
4,,50100,21866354,1106552,20200420,51400,51400,50000,,,,,,,

In [6]:
# 연속조회
dfs = []
df = kiwoom.block_request("opt10081",
                          종목코드="005930",
                          기준일자="20200424",
                          수정주가구분=1,
                          output="주식일봉차트조회",
                          next=0)
dfs.append(df)

while kiwoom.tr_remained:
    df = kiwoom.block_request("opt10081",
                              종목코드="005930",
                              기준일자="20200424",
                              수정주가구분=1,
                              output="주식일봉차트조회",
                              next=2)
    dfs.append(df)
    time.sleep(1)

df = pd.concat(dfs)

In [7]:
df

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,005930,49350,15618347,771212,20200424,49650,49750,49000,,,,,,,
1,,49850,18754442,936174,20200423,50200,50300,49500,,,,,,,
2,,49850,18613864,912223,20200422,48700,50000,48350,,,,,,,
3,,49250,27407543,1347415,20200421,49400,49700,48700,,,,,,,
4,,50100,21866354,1106552,20200420,51400,51400,50000,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,,123,324837,1,19850109,126,126,122,,,,,,,
359,,127,845098,4,19850108,129,129,127,,,,,,,
360,,129,771895,3,19850107,129,130,128,,,,,,,
361,,128,108497,0,19850105,129,129,128,,,,,,,
362,,129,111765,0,19850104,130,130,129,,,,,,,

## 2. 일봉 데이터 저장

In [9]:
from pykiwoom.kiwoom import *
import datetime
import time

In [2]:
# 로그인
kiwoom = Kiwoom()
kiwoom.CommConnect()

In [10]:
kospi = kiwoom.GetCodeListByMarket("0")
kosdaq = kiwoom.GetCodeListByMarket("10")
codes = kospi + kosdaq

In [11]:
now = datetime.datetime.now()
today = now.strftime("%Y%m%d")

In [12]:
for i, code in enumerate(codes):
    print(f"{i}/{len(codes)} {code}")
    df = kiwoom.block_request("opt10081",
                              종목코드=code,
                              기준일자=today,
                              수정주가구분=1,
                              output="주식일봉차트조회",
                              next=0)
    out_name = "data/" + f"{code}.xlsx"
    df.to_excel(out_name)
    time.sleep(3.6)

0/3416 000020
1/3416 000040
2/3416 000050
3/3416 000060
4/3416 000070
5/3416 000075
6/3416 000080
7/3416 000087
8/3416 000100
9/3416 000105
10/3416 000120
11/3416 000140
12/3416 000145
13/3416 000150
14/3416 000155
15/3416 000157
16/3416 000180
17/3416 000210
18/3416 000215
19/3416 000220
20/3416 000225
21/3416 000227
22/3416 000230
23/3416 000240
24/3416 000270
25/3416 000300
26/3416 000320
27/3416 000325
28/3416 000370
29/3416 000390
30/3416 000400
31/3416 000430
32/3416 000480
33/3416 000490
34/3416 000500
35/3416 000520
36/3416 000540
37/3416 000545
38/3416 000547
39/3416 000590
40/3416 000640
41/3416 000650
42/3416 000660
43/3416 000670
44/3416 000680
45/3416 000700
46/3416 000720
47/3416 000725
48/3416 000760
49/3416 000810
50/3416 000815
51/3416 000850
52/3416 000860
53/3416 000880
54/3416 000885
55/3416 00088K
56/3416 000890
57/3416 000910
58/3416 000950
59/3416 000970
60/3416 000990
61/3416 000995
62/3416 001020
63/3416 001040
64/3416 001045
65/3416 00104K
66/3416 001060
67/3416 001065
68/3416 001067
69/3416 001070
70/3416 001080
71/3416 001120
72/3416 001130
73/3416 001140
74/3416 001200
75/3416 001210
76/3416 001230
77/3416 001250
78/3416 001260
79/3416 001270
80/3416 001275
81/3416 001290
82/3416 001340
83/3416 001360
84/3416 001380
85/3416 001390
86/3416 001420
87/3416 001430
88/3416 001440
89/3416 001450
90/3416 001460
91/3416 001465
92/3416 001470
93/3416 001500
94/3416 001510
95/3416 001515
96/3416 001520
97/3416 001525
98/3416 001527
99/3416 001530
100/3416 001550
101/3416 001560
102/3416 001570
103/3416 001620
104/3416 001630
105/3416 001680
106/3416 001685
107/3416 001720
108/3416 001725
109/3416 001740
110/3416 001745
111/3416 001750
112/3416 001755
113/3416 001770
114/3416 001780
115/3416 001790
116/3416 001795
117/3416 001800
118/3416 001820
119/3416 001880
120/3416 001940
121/3416 002020
122/3416 002025
123/3416 002030
124/3416 002070
125/3416 002100
126/3416 002140
127/3416 002150
128/3416 002170
129/3416 002200
130/3416 002210
131/3416 002220
132/3416 002240
133/3416 002310
134/3416 002320
135/3416 002350
136/3416 002355
137/3416 002360
138/3416 002380
139/3416 002390
140/3416 002410
141/3416 002420
142/3416 002450
143/3416 002460
144/3416 002600
145/3416 002620
146/3416 002630
147/3416 002690
148/3416 002700
149/3416 002710
150/3416 002720
151/3416 002760
152/3416 002780
153/3416 002785
154/3416 002787
155/3416 002790
156/3416 002795
157/3416 00279K
158/3416 002810
159/3416 002820
160/3416 002840
161/3416 002870
162/3416 002880
163/3416 002900
164/3416 002920
165/3416 002960
166/3416 002990
167/3416 002995
168/3416 003000
169/3416 003010
170/3416 003030
171/3416 003060
172/3416 003070
173/3416 003075
174/3416 003080
175/3416 003090
176/3416 003120
177/3416 003160
178/3416 003200
179/3416 003220
180/3416 003230
181/3416 003240
182/3416 003280
183/3416 003300
184/3416 003350
185/3416 003410
186/3416 003460
187/3416 003465
188/3416 003470
189/3416 003475
190/3416 003480
191/3416 003490
192/3416 003495
193/3416 003520
194/3416 003530
195/3416 003535
196/3416 003540
197/3416 003545
198/3416 003547
199/3416 003550
200/3416 003555
201/3416 003560
202/3416 003570
203/3416 003580
204/3416 003610
205/3416 003620
206/3416 003650
207/3416 003670
208/3416 003680
209/3416 003690
210/3416 003720
211/3416 003780
212/3416 003830
213/3416 003850
214/3416 003920
215/3416 003925
216/3416 003960
217/3416 004000
218/3416 004020
219/3416 004060
220/3416 004080
221/3416 004090
222/3416 004100
223/3416 004105
224/3416 004140
225/3416 004150
226/3416 004170
227/3416 004250
228/3416 004255
229/3416 004270
230/3416 004310
231/3416 004360
232/3416 004365
233/3416 004370
234/3416 004380
235/3416 004410
236/3416 004415
237/3416 004430
238/3416 004440
239/3416 004450
240/3416 004490
241/3416 004540
242/3416 004545
243/3416 004560
244/3416 004565
245/3416 004690
246/3416 004700
247/3416 004710
248/3416 004720
249/3416 004770
250/3416 004800
251/3416 004830
252/3416 004835
253/3416 004840
254/3416 004870
255/3416 004890
256/3416 004910
257/3416 004920
258/3416 004960
259/3416 004970
260/3416 004980

In [ ]:
import pandas as pd
import glob

xlsx_list = glob.glob("data/*.xlsx")

close_data = []

for xls in xlsx_list:
    code = xls.split(".")[0]
    df = pd.read_excel(xls)
    df2 = df[["일자", "현재가"]].copy()
    df2.rename(columns={"현재가": code}, inplace=True)
    df2 = df2.set_index("일자")
    df2 = df2[::-1]
    close_data.append(df2)
    
df = pd.concat(close_data, axis=1)
df.to_excel("merge.xlsx")

## 3. 모멘텀 전략 종목 선정 및 매수

In [ ]:
import pandas as pd

df = pd.read_excel("merge.xlsx")
df["일자"] = pd.to_datetime(df["일자"], format="%Y%m%d")
df = df.set_index("일자")

In [ ]:
# 20일 기준 수익률
return_df = df.pct_change(20)
return_df.tail()

In [ ]:
s = return_df.loc["2022-07-29"]
momentum_df = pd.DataFrame(s)
momentum_df.columns = ["모멘텀"]
momentum_df.head()

In [ ]:
momentum_df['순위'] = momentum_df['모멘텀'].rank(ascending=False)
momentum_df = momentum_df.sort_values(by="순위")
momentum_df[:10].to_excel("momentum_list.xlsx")

In [ ]:
# 종목 불러와서 매수
df = pd.read_excel("momentum_list.xlsx")
df.columns = ["종목코드", "모멘텀", "순위"]

codes = df["종목코드"]
names = [kiwoom.GetMasterCodeName(code) for code in codes]
df["종목명"] = pd.Series(data=names)

In [ ]:
accounts = kiwoom.GetLoginInfo("ACCNO")
account = accounts[0]

for code in codes:
    ret = kiwoom.SendOrder("시장가매수", "0101", account, 1, code, 100, 0, "03", "")
    time.sleep(0.2)
    print(code, "종목 시장가 주문 완료")