## 1. 싱글데이터 TR 요청

In [1]:
from pykiwoom.kiwoom import *
import time
import pandas as pd

kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)

In [5]:
df = kiwoom.block_request("opt10001",
                          종목코드="005930",
                          output="주식기본정보",
                          next=0)

In [6]:
df

,종목코드,종목명,결산월,액면가,자본금,상장주식,신용비율,연중최고,연중최저,시가총액,...,250최저가대비율,현재가,대비기호,전일대비,등락율,거래량,거래대비,액면가단위,유통주식,유통비율
0,005930,삼성전자,12,100,7780,5969783,+0.15,+79800,-55700,3695295,...,+11.13,+61900,2,+100,+0.16,10745302,+146.77,원,4502269,75.4

In [7]:
# 멀티데이터 TR
df = kiwoom.block_request("opt10081",
                          종목코드="005930",
                          기준일자="20200424",
                          수정주가구분=1,
                          output="주식일봉차트조회",
                          next=0)

In [8]:
df.head()

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,005930,49350,15618347,771212,20200424,49650,49750,49000,,,,,,,
1,,49850,18754442,936174,20200423,50200,50300,49500,,,,,,,
2,,49850,18613864,912223,20200422,48700,50000,48350,,,,,,,
3,,49250,27407543,1347415,20200421,49400,49700,48700,,,,,,,
4,,50100,21866354,1106552,20200420,51400,51400,50000,,,,,,,

In [9]:
# 연속조회
dfs = []
df = kiwoom.block_request("opt10081",
                          종목코드="005930",
                          기준일자="20200424",
                          수정주가구분=1,
                          output="주식일봉차트조회",
                          next=0)
dfs.append(df)

while kiwoom.tr_remained:
    df = kiwoom.block_request("opt10081",
                              종목코드="005930",
                              기준일자="20200424",
                              수정주가구분=1,
                              output="주식일봉차트조회",
                              next=2)
    dfs.append(df)
    time.sleep(1)

df = pd.concat(dfs)

In [10]:
df

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,005930,49350,15618347,771212,20200424,49650,49750,49000,,,,,,,
1,,49850,18754442,936174,20200423,50200,50300,49500,,,,,,,
2,,49850,18613864,912223,20200422,48700,50000,48350,,,,,,,
3,,49250,27407543,1347415,20200421,49400,49700,48700,,,,,,,
4,,50100,21866354,1106552,20200420,51400,51400,50000,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,,123,324837,1,19850109,126,126,122,,,,,,,
359,,127,845098,4,19850108,129,129,127,,,,,,,
360,,129,771895,3,19850107,129,130,128,,,,,,,
361,,128,108497,0,19850105,129,129,128,,,,,,,
362,,129,111765,0,19850104,130,130,129,,,,,,,

## 2. 일봉 데이터 저장

In [1]:
from pykiwoom.kiwoom import *
import datetime
import time

In [2]:
# 로그인
kiwoom = Kiwoom()
kiwoom.CommConnect()

In [7]:
kospi = kiwoom.GetCodeListByMarket("0")
kosdaq = kiwoom.GetCodeListByMarket("10")
codes = kospi + kosdaq

In [8]:
now = datetime.datetime.now()
today = now.strftime("%Y%m%d")

In [9]:
for i, code in enumerate(codes):
    print(f"{i}/{len(codes)} {code}")
    df = kiwoom.block_request("opt10081",
                              종목코드=code,
                              기준일자=today,
                              수정주가구분=1,
                              output="주식일봉차트조회",
                              next=0)
    out_name = "data/" + f"{code}.xlsx"
    df.to_excel(out_name)
    time.sleep(3.6)

0/3416 000020
1/3416 000040
2/3416 000050
3/3416 000060
4/3416 000070
5/3416 000075
6/3416 000080
7/3416 000087
8/3416 000100
9/3416 000105
10/3416 000120
11/3416 000140
12/3416 000145
13/3416 000150
14/3416 000155
15/3416 000157
16/3416 000180
17/3416 000210
18/3416 000215
19/3416 000220
20/3416 000225
21/3416 000227
22/3416 000230
23/3416 000240
24/3416 000270
25/3416 000300
26/3416 000320
27/3416 000325
28/3416 000370
29/3416 000390
30/3416 000400
31/3416 000430
32/3416 000480
33/3416 000490
34/3416 000500
35/3416 000520
36/3416 000540
37/3416 000545
38/3416 000547
39/3416 000590
40/3416 000640
41/3416 000650